@use "variables" as *;
@use "mixins" as *;

@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// @font-face {
//   font-family: icons;
//   src: url("icons.ttf");
// }

:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $bggrey;
  font-family: Roboto, sans-serif;
  * {
    line-height: calc(2px + 2ex + 2px);
  }
  header {
    height: 7rem;
    display: flex;
    padding: 10px;
  }

  h1 {
    left: 10px;
    font-size: large;
    padding: 10px;
    position: relative;
  }
  nav a {
    display: none;
  }
  .mobiel {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .billboard {
    color: white;
    margin-top: 5px;
    padding-left: 5px;
    grid-template-rows: 1fr;
    height: 120px;
    background-image: url("./images/achtergrond-nacht.png");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }
  .billboard h2 {
    padding-top: 3.5rem;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1.5rem;
  }

  .billboard p {
    font-style: italic;
    font-size: 12px;
  }
  .overons {
    margin-left: 10px;
  }
  .watwedoen {
    margin-left: 10px;
  }

  section h3 {
    font-weight: bold;
    margin-left: 1px;
  }
  section p {
    margin-bottom: 2rem;
    margin-left: 1px;
  }

  .hoofding h2 {
    font-weight: bold;
    font-size: 13px;
    padding-top: 1.5rem;
  }
  .hoofding p {
    font-style: italic;
    margin-bottom: 5px;
  }

  input {
    border: none;
    color: white;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .figuur1 {
    background-color: #56e39f;
    margin: 10px 10px 5px 0px;
    height: 200px;
  }
  .figuur1 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur1 > div:nth-child(2) {
    background-color: #59c9a5;
  }
  .figuur1 > div:nth-child(3) {
    background-color: #5b6c5d;
  }
  .figuur1 > div:nth-child(4) {
    background-color: #27476e;
  }
  /* alle kleuren voor dit vlak: #56E39F  #59C9A5  #5B6C5D  #27476E*/
  .figuur2 {
    background-color: #f1d302;
    margin: 5px 10px 5px 0px;
    height: 200px;
  }
  .figuur2 > div:nth-child(1) {
    background-color: #56e39f;
  }
  .figuur2 > div:nth-child(2) {
    background-color: #c1292e;
  }
  .figuur2 > div:nth-child(3) {
    background-color: #235789;
  }
  .figuur2 > div:nth-child(4) {
    background-color: #f0a202;
  }
  /* alle kleuren voor dit vlak: #F1D302  #C1292E  #235789  #F0A202 */
  .figuur3 {
    background-color: #b3001b;
    margin: 5px 10px 5px 0px;
    height: 200px;
  }
  .figuur3 > div:nth-child(1) {
    background-color: #b3001b;
  }
  .figuur3 > div:nth-child(2) {
    background-color: #f4e04d;
  }
  .figuur3 > div:nth-child(3) {
    background-color: #54f2f2;
  }
  .figuur3 > div:nth-child(4) {
    background-color: #5eb1bf;
  }
  /* alle kleuren voor dit vlak: #B3001B  #F4E04D  #54F2F2  #5EB1BF */
  .figuur4 {
    background-color: #ff715b;
    margin: 5px 10px 10px 0px;
    height: 200px;
  }
  .figuur4 > div:nth-child(1) {
    background-color: #ff715b;
  }
  .figuur4 > div:nth-child(2) {
    background-color: #30332e;
  }
  .figuur4 > div:nth-child(3) {
    background-color: #62bbc1;
  }
  .figuur4 > div:nth-child(4) {
    background-color: #ec058e;
  }
  /* alle kleuren voor dit vlak: #FF715B  #30332E  #62BBC1  #EC058E */
}
.section1 h3 {
  font-weight: bold;
}
footer {
  color: white;
  margin-top: 10px;
  padding-top: 1rem;
  text-align: center;
  grid-template-rows: 1fr;
  height: 70px;
  background-color: black;
}

footer p {
  margin: 3px;
}

.logo {
  display: grid;
  font-weight: bold;
  font-size: 13px;
}
footer li a {
  color: white;
  text-decoration: none;
}
footer li {
  display: inline;
}
